body {
    background-color: rgb(191, 224, 224);
    margin: 20px;
    padding: 0;
}
#top-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd13b;
    padding: 10px;
}
#logo{
    margin-left: 40px;
   
    height: auto;
    max-width: 200px;
}
#nav ul{
    list-style-type: none;
    display: flex;
    
}
#nav li{
    margin-right: 20px;
    font-weight: bold;
    }

#login{
    margin-right: 40px;
    font-weight: bold;
}
#dropdown_menu {
    position: relative;
  }
  .dropbtn {
    opacity: 100%;
    color: rgb(26, 22, 22);
    padding: 0px 15px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  nav {
    &.primary-navigation {
      margin: 0 auto;
      display: block; 
      text-align: center;
      font-size: 16px;
  
      ul li {
        list-style:none;
        margin: 0 auto;
        border-left: 2px solid #3ca0e7;
        display:block;
        padding: 0 30px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: arvo;
      }
  
      li a {
        color: black;
      }
  
      li a:hover {
        color: #3ca0e7;
      }
  
      li:hover {
        cursor: pointer;
      }
  
      ul li ul {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        background: rgb(255, 255, 255);
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 80%;
        /* display: block; */
        min-width: 215px;
        text-align: center;
        margin-top: 2px;
        padding-top: 20px;
        box-shadow: 0px 3px 5px -1px #ccc;
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #3ca0e7;
        transition: all 0.3s ease;
      }
    }
  }
  a {
      text-decoration: none;
      &:hover {
          color: #3CA0E7;
      }
  }
   ul li ul li a { transition: all 0.5s ease; }



/* form animation starts */


/* ffd13b */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #e9d95d;
    opacity: 1;
    box-shadow: 20px 20px 10px 10px rgba(3, 19, 11, 0.2);
    border-radius: 10px;
    max-width: 480px;
    margin: 20px auto;
    padding: 5px;
    border-top: 5px solid #4896c7;
    animation: bounce 5s infinite;
}

::-webkit-input-placeholder {
    font-size: 1.5em;
}

#top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd13b;
    padding: 10px;
}

#logo {
    margin-left: 40px;
    height: auto;
    max-width: 200px;
}

#nav ul {
    list-style-type: none;
    display: flex;
}

#nav li {
    margin-right: 20px;
    font-weight: bold;
}

#login {
    margin-right: 40px;
    font-weight: bold;
}

#dropdown_menu {
    position: relative;
}

.dropbtn {
    opacity: 100%;
    color: rgb(26, 22, 22);
    padding: 0px 15px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav {
    &.primary-navigation {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        ul li {
            list-style: none;
            margin: 0 auto;
            border-left: 2px solid #3ca0e7;
            display: inline-block;
            padding: 0 30px;
            position: relative;
            text-decoration: none;
            text-align: center;
            font-family: arvo;
        }
        li a {
            color: black;
        }
        li a:hover {
            color: #3ca0e7;
        }
        li:hover {
            cursor: pointer;
        }
        ul li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding-left: 0;
            left: 0;
            background: rgb(255, 253, 253);
        }
        ul li:hover>ul,
        ul li ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
            min-width: 250px;
            text-align: left;
            padding-top: 20px;
            box-shadow: 0px 3px 5px -1px #ccc;
        }
        ul li ul li {
            clear: both;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            border-style: none;
        }
        ul li ul li a:hover {
            padding-left: 10px;
            border-left: 2px solid #3ca0e7;
            transition: all 0.3s ease;
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        color: #3CA0E7;
    }
}

ul li ul li a {
    transition: all 0.5s ease;
}

.title {
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
}

.termsConditions {
    margin: 0 auto 5px 80px;
}

.pageTitle {
    font-size: 2em;
    font-weight: bold;
}

.secondaryTitle {
    color: grey;
}

.name {
    background-color: #ebebeb;
    color: white;
}

.name:hover {
    border-bottom: 5px solid #4f7ac4;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.email {
    background-color: #ebebeb;
    height: 2em;
}

.email:hover {
    border-bottom: 5px solid #4f7ac4;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
}

.message:hover {
    border-bottom: 5px solid #4f7ac4;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
}

.formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.submit {
    width: 200px;
    color: white;
    background-color: #5185bc;
    font-size: 20px;
}

.submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
}

@keyframes bounce {
    0% {
        tranform: translate(0, 4px);
    }
    50% {
        transform: translate(0, 10px);
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: #ffffff;
    border-top: 0.5px solid #e0dede;
    color: #949292;
    padding: 30px;
    text-align:end ;
  }
  
  .footercontent {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footercontent p {
    margin-left: 550px;
    margin-top: 20px;

  }
  #app_icon{
    display: flex;
  }
  #icon1, #icon2,#icon3, #icon4 {
    margin-left: 30px; /* For spacing between adjacent icons */
  }
#title-Tag-Line {
    font-size: 10px;
}