* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    
  }
#top-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd13b;
    padding: 10px;
}
#logo{
    margin-left: 40px;
   
    height: auto;
    max-width: 200px;
}
#nav ul{
    list-style-type: none;
    display: flex;
    
}
#nav li{
    margin-right: 20px;
    font-weight: bold;
    }

#login{
    margin-right: 40px;
    font-weight: bold;
}
#dropdown_menu {
    position: relative;
  }
  .dropbtn {
    opacity: 100%;
    color: rgb(26, 22, 22);
    padding: 0px 15px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }