/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #ff8843;
  }
  
  /* Login Container */
  .login-container {
margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login Form Styling */
  .login-form {
    background-color: #ff8843;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 400px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 1px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 45%;
    padding: 5px;
    background-color: #f5a374;
    color: #494747;
    border: none;
    border-radius: 1px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d157f0;
  }
  .main_div{
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #f5a374;
    border-top-left-radius:70% ;
  }
  .login-container2 {
    overflow: hidden;
    background-image:url(hospital4.webp) ;
    background-size: cover;
    border-top-right-radius:500px ;
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content:center;
    align-items:center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  .flip-container{
    perspective: 1000px;
  }
  .flipper {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;
  }
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }
  
  .img-front,.img-back {
    
    width: 256px;
    height: 300px;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .img-front {
    z-index: 2;
  }
  
  .img-back {
    transform: rotateY(180deg);
  }
  #img1{
    background-color: #f5a374;
  }
  #img1,#img2{
    border: 0px white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 150px;
    height: 256px;
    width: 300px;
  }
  #login:disabled:hover,#generateOTP:disabled:hover {
    opacity: 1; /* Adjust the opacity to visually indicate the disabled state */
    cursor:pointer;
    transition: transform 0.5s ease;
    transform: translateX(150px)
  }
  
  #login:not(:disabled), #generateOTP:not(:disabled) {
    opacity: 1;
    cursor:pointer;
    
  }
 .href1{
  position:absolute;
 top: 500px;

 }

