.description {
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 550px;
    border: 1px solid #db5f5f;
    padding: 20px;
}

.description .des {
    width: 140px;
    height: 65px;
    margin-left: 20px;
    border: 2px solid black;
    background-color: #a8cccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}